*{
	margin: 0;
	padding: 0;
}
.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/eokulimage.png);
	background-position: center;
	background-size: cover;
	position: relative;
}

.login-image{
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}


.input-container{
	width: 90%;
	position: absolute;
	top: 20%;
	left: 57%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.input-container2{
	width: 90%;
	position: absolute;
	top: 33%;
	left: 57%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.input-container3{
	width: 90%;
	position: absolute;
	top: 46%;
	left: 57%;
	transform: translate(-50%,-50%);
	text-align: center;
}
